<%+header%>

<%
	local fs   = require "nixio.fs"
	local ver  = require "luci.version"
	local uci  = require("luci.model.uci").cursor()

	local simetma_agentid = fs.readfile("/etc/simet/agent-id-v2") or ""
	local simet2_viewtok = fs.readfile("/var/run/simet/agent-vtk") or ""
	local sbx_uilang = uci:get("luci", "main", "lang") or ""

	local simet1_enabled = fs.stat("/usr/bin/simet_client") or nil
%>

<h2 name="content"><%:SIMET Measurement Results%></h2>

<div class="alert-message notice ma-noinet" style="display:none">
	<p><%:ATTENTION%></p>
	<p><%:The SIMETBox is not connected to the Internet.  Some functions on this page will not work at this time.%></p>
	<p><%:For details on the connection problem, please go to the%>
	<a href='<%=url("admin/simet/status")%>'><%:SIMETBox status page%></a>.</p>
</div>

<div class="cbi-section">
	<h3><%:SIMET2 Measurement Results%></h3>
	<div class="notice ma-loading">
		<p style="text-align:center"><img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /></p>
	</div>
	<table class="table ma-inet" width="100%" style="display:none"><tr class="tr">
		<td class="td left">
			<p><%:Should the report system below complain of invalid credentials, please use the button to renew them.%></p>
			<p><%:Note: the device must be connected to the Internet to be able to show reports and to renew access credentials.%></p>
		</td><td class="td right">
			<input class="cbi-button cbi-button-action important ma-renew-credentials" type="button"
				value="<%:Renew Credentials%>" onclick="simet_register_ma(this)" />
			<div class="alert-message notice ma-register-message" style="display:none">
				<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle;float:left" />
				<p><%:Attempting to renew credentials...%></p>
			</div>
		</td>
	</tr><tr class="tr">
		<td class="td left">
			<p><%:Periodic measurement runs are carried out automatically.  You may trigger an immediate measurement run using the button.%></p>
			<p><%:Note: It takes some time for results of a recent measurement run to be available.  Please reload this page to check for new results.%></p>
		</td><td class="td right">
			<input class="cbi-button cbi-button-action important ma-measure-now" type="button" disabled=disabled
				value="<%:Start a measurement run%>" onclick="simet_trigger_run(this)" />
			<div class="alert-message notice ma-measuring-message" style="display:none">
				<img src="<%=resource%>/icons/loading.gif" style="vertical-align:middle;float:left" />
				<p><%:The device is doing a measurement run...%></p>
			</div>
		</td>
	</tr></table>
	<div class="ma-noinet" style="display:none">
		<p><%:This SIMETBox is currently offline, but you can try to access past measurement results through the following link:%><br />
		<a href="https://dashboard.simet.nic.br/simet2/results/?matype=simetbox;agentid=<%=pcdata(simetma_agentid)%>;authtoken=<%=pcdata(simet2_viewtok)%>;lang=<%=pcdata(sbx_uilang)%>"><%:SIMET2 results page for this device (temporary link)%></a></p>
		<p><%:Note: for privacy reasons, the link will be invalidated the next time the SIMETBox renews its access credentials, typically once a day as well as when it boots.%></p>
	</div>
	<iframe class="ma-inet" style="display:none" src="https://dashboard.simet.nic.br/simet2/results/?matype=simetbox;agentid=<%=pcdata(simetma_agentid)%>;authtoken=<%=pcdata(simet2_viewtok)%>;lang=<%=pcdata(sbx_uilang)%>" width="100%" height="800px" frameborder="0"></iframe>
</div>

<% if simet1_enabled ~= nil then %>
<div class="cbi-section">
	<h3><%:SIMET1 Measurement Results%></h3>
	<p><%:To access the historical data measured by the older measurement engine (SIMET1), please refer to the%>
	<a href="simet"><%:SIMET1 measurement results page%></a>.</p>
</div>
<% end %>

<div class="cbi-section">
	<h3><%:Contact information%></h3>
	<p><a href="sobre"><%:Device information and contacts page%></a></p>
	<p><%:SIMETBox project pages:%> <a href="https://simet.nic.br/simetbox">https://simet.nic.br/simetbox</a></p>
</div>

<script type="text/javascript">//<![CDATA[
	var mrun_message = document.querySelector('div.ma-measuring-message'),
	    mrun_button  = document.querySelector('input.ma-measure-now');

	function mrun_running() {
		mrun_message.style.display = '';
		mrun_button.disabled = true;
		mrun_button.style.display = 'none';
	}
	function mrun_not_running() {
		mrun_message.style.display = 'none';
		mrun_button.disabled = false;
		mrun_button.style.display = '';
	}

	function ok() { window.location.reload(true); }
	function simet_update_engine_status_xhr_cb(xhr, data, time_elapsed) {
		if (data != null) {
			if (data.main_measurement_running == "true") {
				mrun_running();
				window.setTimeout(function(){window.location.reload(false);}, 30000);
			} else {
				mrun_not_running();
			}
		}
	}
	function simet_trigger_engine_status_update() {
		(new XHR()).get('<%=url("admin/simet/simet_engine_status")%>', null, simet_update_engine_status_xhr_cb);
	}
	function simet_trigger_run_xhr_cb(xhr, data, time_elapsed) {
		if (data != null) {
			if (data.status != "failed") {
				mrun_running();
				window.setTimeout(function(){window.location.reload(false);}, 30000);
			} else {
				mrun_not_running();
			}
		}
	}
	function simet_trigger_run(button) {
		button.style.display = 'none';
		button.disabled = true;
		mrun_message.style.display = '';
		(new XHR()).get('<%=url("admin/simet/simet_start_measurement_run")%>', null, simet_trigger_run_xhr_cb);
	}
	function simet_register_ma(button) {
		button.style.display = 'none';
		document.querySelector('div.ma-register-message').style.display = '';
		(new XHR()).get('<%=url("admin/simet/simet_register")%>', null, ok);
	}

	function simet_wan_status_xhr_cb(xhr, data, time_elapsed) {
		var willhide = ".ma-loading,.ma-noinet", willshow = ".ma-inet";
		if (xhr == null || data == null || (data.ip4_gateway_ping != "true" && data.ip6_gateway_ping != "true")) {
			willhide = ".ma-loading,.ma-inet";
			willshow = ".ma-noinet";
		}
		for (let i of document.querySelectorAll(willhide)) {
			i.style.display = 'none';
		}
		for (let i of document.querySelectorAll(willshow)) {
			i.style.display = '';
		}
	}
	function simet_trigger_wan_status() {
		(new XHR()).get('<%=url("admin/simet/simet_wan_status")%>', null, simet_wan_status_xhr_cb);
	}

	for (let i of document.querySelectorAll(".ma-inet,.ma-noinet")) {
		i.style.display = 'none'
	}
	simet_trigger_engine_status_update();
	simet_trigger_wan_status();
//]]></script>

<%+footer%>
