<%+header%>

<%
	local fs   = require "nixio.fs"
	local ver  = require "luci.version"

	local sbx_mac_address = luci.sys.exec("get_mac_address.sh") or "?"
	local sbx_model = luci.sys.exec("get_model.sh") or "?"
	local sbx_version = luci.sys.exec("get_simet_box_version.sh") or "?"

	has_autoupgrade = false
	if luci.sys.call("type auto_upgrade >/dev/null 2>&1") == 0 then
		local sbx_autoupgrade1 = fs.readfile("/rom/lib/simet/auto_upgrade/auto_upgrade.epoch") or nil
		local sbx_autoupgrade2 = fs.readfile("lib/simet/auto_upgrade/auto_upgrade.epoch") or sbx_autoupgrade1
		if sbx_autoupgrade1 then
			sbx_version = sbx_version .. " ( NIC.br " .. sbx_autoupgrade1 .. " / " .. sbx_autoupgrade2 .. ")"
		end
		has_autoupgrade = true
	end

	local sbx_geolocation = luci.sys.exec("simet_geolocation.sh --from-cache | jsonfilter -e @.row[0].value[3,4]") or ""
	local simetma_vlabel = luci.sys.exec("simet_read_vlabel.sh") or ""
	local simetma_agentid = fs.readfile("/etc/simet/agent-id-v2") or ""
	local simetma_engine = fs.readfile("/usr/lib/simet/agent-version.txt") or ""
%>

<h2 name="content"><%:About SIMETBox%></h2>
<p><a href="https://simet.nic.br/simetbox">https://simet.nic.br/simetbox</a></p>
<p><%:Support contact%>: <a href="mailto:medicoes@simet.nic.br?subject=SIMETBOX">medicoes@simet.nic.br</a></p>

<div class="cbi-section">
	<h3><%:Version information%></h3>
	<table class="table" width="100%">
		<tr class="tr"><td class="td left" width="33%"><%:SIMETBox version%></td><td class="td left"><%=sbx_version%></td></tr>
		<tr class="tr"><td class="td left" width="33%"><%:Base firmware%></td><td class="td left"><%=pcdata(ver.distname)%> <%=pcdata(ver.distversion)%></td></tr>
		<tr class="tr"><td class="td left" width="33%"><%:SIMET Engine%></td><td class="td left"><%=simetma_engine%></td></tr>
	</table>
</div>
<div class="cbi-section">
	<h3><%:Equipment information%></h3>
	<table class="table" width="100%">
		<tr class="tr"><td class="td left" width="33%"><%:SIMETBox device model%></td><td class="td left"><%=sbx_model%></td></tr>
		<tr class="tr"><td class="td left" width="33%"><%:SIMETBox device id%></td><td class="td left"><%=sbx_mac_address%></td></tr>
		<tr class="tr"><td class="td left" width="33%"><%:SIMET agent label%></td><td class="td left"><%=simetma_vlabel%></td></tr>
		<tr class="tr"><td class="td left" width="33%"><%:SIMET agent id%></td><td class="td left"><%=simetma_agentid%></td></tr>
		<tr class="tr"><td class="td left" width="33%"><%:Geolocation%></td><td class="td left"><%=sbx_geolocation%></td></tr>
	</table>
</div>
<div class="cbi-section">
	<h3><%:Security information%></h3>
	<p><%:Security contact%>: security@simet.nic.br<p>
	<p><%:More information%>: <a href="https://simet.nic.br/simetbox">https://simet.nic.br/simetbox</a></p>
</div>

<%+footer%>
