<%+header%>

<%
	local fs   = require "nixio.fs"
	local ver  = require "luci.version"

	local sbx_mac_address = luci.sys.exec("get_mac_address.sh") or "?"
	local sbx_model = luci.sys.exec("get_model.sh") or "?"
	local sbx_version = luci.sys.exec("get_simet_box_version.sh") or "?"

	local has_autoupgrade = false
	local au_stats = luci.util.ubus("auto_upgrade","status") or {}
	if au_stats.available == true then
		if au_stats.firmware_release then
			sbx_version = sbx_version .. " ( NIC.br " .. au_stats.firmware_release .. " )"
		end
		has_autoupgrade = true
	end

	local sbx_geo = luci.util.ubus("simet_ma", "geolocate", [[{"fast":true}]]) or
		{ latitude="?", longitude="?", timestamp=0 }
	local simetma_vlabel = luci.sys.exec("simet_read_vlabel.sh") or ""
	local simetma_agentid = fs.readfile("/etc/simet/agent-id-v2") or ""
	local simetma_engine = fs.readfile("/usr/lib/simet/agent-version.txt") or ""
%>

<h2 name="content"><%:About SIMETBox%></h2>
<p><a href="https://simet.nic.br/simetbox">https://simet.nic.br/simetbox</a></p>
<p><%:Support contact%>: <a href="mailto:medicoes@simet.nic.br?subject=SIMETBOX">medicoes@simet.nic.br</a></p>

<div class="cbi-section">
	<h3><%:Version information%></h3>
	<table class="table" width="100%">
		<tr class="tr"><td class="td left" width="33%"><%:SIMETBox version%></td><td class="td left"><%=sbx_version%></td>
			<td class="td right">
				<input class="cbi-button cbi-button-action important" type="button" value="<%:Check for firmware updates%>"
				       onclick="simet_auto_update(this)"
				       <% if not has_autoupgrade then write('disabled="" style="display:none"') end %>
				/>
				<p class="alert-message notice update-message" style="display:none">
				<!-- <img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" /> -->
					<span><%:Firmware update requested.  If one is found, the device will apply it in a few minutes.  DO NOT POWER OFF THE DEVICE%></span></p>
			</td>
		</tr>
		<tr class="tr"><td class="td left" width="33%"><%:Base firmware%></td><td class="td left" colspan="2"><%=pcdata(ver.distname)%> <%=pcdata(ver.distversion)%></td></tr>
		<tr class="tr"><td class="td left" width="33%"><%:SIMET Engine%></td><td class="td left" colspan="2"><%=simetma_engine%></td></tr>
	</table>
</div>
<div class="cbi-section">
	<h3><%:Equipment information%></h3>
	<table class="table" width="100%">
		<tr class="tr">
			<td class="td left" width="33%"><%:SIMETBox device model%></td><td class="td left" colspan="2"><%=sbx_model%></td>
		</tr>
		<tr class="tr">
			<td class="td left" width="33%"><%:SIMETBox device id%></td><td class="td left" colspan="2"><%=sbx_mac_address%></td>
		</tr>
		<tr class="tr">
			<td class="td left" width="33%"><%:SIMET agent label%></td><td class="td left" colspan="2"><%=simetma_vlabel%></td>
		</tr>
		<tr class="tr">
			<td class="td left" width="33%"><%:SIMET agent id%></td><td class="td left"><%=simetma_agentid%></td>
			<td class="td right">
				<input class="cbi-button cbi-button-action important" type="button" value="<%:Renew Credentials%>"
				       onclick="simet_register_ma(this)" />
				<p class="alert-message notice ma-register-message" style="display:none">
					<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
					<span><%:Attempting to renew credentials...%></span>
				</p>
			</td>
		</tr>
		<tr class="tr">
			<td class="td left" width="33%"><%:Geolocation%></td><td class="td left" colspan="2"><%=sbx_geo.latitude%> <%=sbx_geo.longitude%></td>
		</tr>
	</table>
</div>
<div class="cbi-section">
	<h3><%:Security information%></h3>
	<p><%:Security contact%>: security@simet.nic.br</p>
	<p><%:More information%>: <a href="https://simet.nic.br/simetbox">https://simet.nic.br/simetbox</a></p>
</div>

<!-- auto_update feedback disabled until it is fully implemented -->
<script type="text/javascript">//<![CDATA[
	var tries = 0,
	    upd_message = document.querySelector('p.update-message'),
	    upd_label = upd_message.querySelector('span'),
	    reg_message = document.querySelector('p.ma-register-message'),
	    reg_label = reg_message.querySelector('span');

	function ok() { location.reload(true); }
	function check() { window.setTimeout(ping, 5000); }
	function ping() {
		var img = document.createElement('img');

		img.onload = ok;
		img.onerror = check;
		img.src = '<%=resource%>/icons/loading.gif?' + Math.random();

		if (tries++ >= 30) {
			message.classList.remove('notice');
			message.classList.add('warning');
			label.innerHTML = '<%:Device unreachable! Still waiting for device...%>';
		}
	}

	function simet_auto_update(button) {
		button.style.display = 'none';
		upd_message.style=display = '';

		message=upd_message;
		label=upd_label;
		(new XHR()).get('<%=url("admin/simet/simet_auto_upgrade_now")%>', null, null);
	}
	function simet_register_ma(button) {
		button.style.display = 'none';
		reg_message.style.display = '';

		message = reg_message;
		label = reg_label;
		(new XHR()).get('<%=url("admin/simet/simet_register")%>', null, check);
	}
//]]></script>

<%+footer%>
